<Project Sdk="Microsoft.NET.Sdk.Web">
  <PropertyGroup>
    <TargetFramework>net10.0</TargetFramework>
    <Nullable>enable</Nullable>
    <ImplicitUsings>enable</ImplicitUsings>
  </PropertyGroup>

  <ItemGroup>
    <ProjectReference Include="..\{{ namespace }}.Application\{{ namespace }}.Application.csproj" />
    <ProjectReference Include="..\{{ namespace }}.Infrastructure\{{ namespace }}.Infrastructure.csproj" />
  </ItemGroup>

  <ItemGroup>
    <PackageReference Include="FastEndpoints" />
    <PackageReference Include="FastEndpoints.Swagger" />
    <PackageReference Include="Scalar.AspNetCore" />
    <PackageReference Include="Microsoft.Identity.Web" />
  </ItemGroup>
</Project>
