using {{ namespace }}.Domain.Common;

namespace {{ namespace }}.Domain.Entities;

public class {{ entity.Name }} : IAuditableEntity
{
    public Guid Id { get; set; } = Guid.NewGuid();

    {{~ for prop in entity.Properties ~}}
    {{~ if prop.Name != "Id" && prop.Name != "id" ~}}
    public {{ prop.Type }} {{ prop.Name }} { get; set; }
    {{~ end ~}}
    {{~ end ~}}

    // Audit Fields
    public DateTime CreatedAt { get; set; }
    public string? CreatedBy { get; set; }
    public DateTime? LastModifiedAt { get; set; }
    public string? LastModifiedBy { get; set; }
}